.container {
    border: 1px solid #ccc;
}

.container .breadcrumb {
    margin-left: -15px;
    margin-right: -15px;

}

.media .media-object {
    width: 300px;
}

.media .price {
    font-size: 50px;
    color: red;
    margin: 10px 0px;
}

.media .btn-group {
    margin-bottom: 20px;
}
.goods_detail img{
    width: 100%;
}